/* -----Google Mulish Font----- */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;

}

/* -----Share styles------- */
main,
.popular-tour {
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 50px;
    gap: 150px;

}

.secondary-title {
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;

}

.travel {
    color: #FF5400;
}

/* -------Nav style----- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
    margin: 0 auto;
}

.heaven-travel,
.menu {
    display: flex;
    align-items: center;
}

h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.menu li {
    margin-right: 45px;
    list-style: none;
}

/* -----Banner Styles------ */
.banner-container {
    margin-left: 135px;
    margin-right: 135px
}

.banner {

    width: 100%;
    height: 500px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#131318CC #13131800);
    border-radius: 16px;
    text-align: center;


}

.banner-ingredients {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

}

.main-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;

}

.main-description {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}

.travel-selection {
    font-size: 1rem;
    font-weight: 400px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    text-align: center;

}

#red-btn {
    font-weight: 700px;
    color: #FFFFFF;
    background-color: rgb(255, 84, 0);
}

/* ------Popular tour section style------- */

.travel-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.popular-tour {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tour-card {
    width: 577px;
    height: 466px;
    left: 135px;
    justify-content: center;
    align-items: center;
}


.popular-tour-image {
    width: 540px;
    height: 550px;
    border-radius: 16px;
    background: url(111);

}

.read-more-btn {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: 0;
    padding: 15px;
    margin-top: 20px;
}

/* ---------Destination style section----- */
.destination {
    text-align: center;
    max-width: 1170px;
    margin-top: 130px;
}

.first-row,
.second-row,
.third-row {

    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

.maldives,
.indonesia {
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: rgba(19, 19, 24, 0.2), url(1);
}




/* ------promotion section----- */
.newsletter {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    gap: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 474px;
    height: 422px;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding:  0 50px;

}
.promo-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    
   
}

.form>h4 {
    color: rgb(19, 19, 24);
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    margin-top: 30px;
}

.input {  
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 5px;
}

#subscribe {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    border: 0;
    background: rgb(255, 84, 0);
    padding: 15px 140px;
}



.save {
    position: relative;
    width: 324px;
    height: 120px;
    bottom: 170px;
    left: 340px;
    transform: rotate(-19deg);
    border-radius: 16px;
    background: rgb(255, 84, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.promo-title {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}

.promo-details {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 800;

}

/* --------footer section style-------- */
.footer-container {
    width: 100%;
    height: 502px;
    margin-top: 2000px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

footer {

    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.footer-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    height: 52px;
    width: 769px;
    margin-top: 20px;
}

.footer-block {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 300px;

}

.footer-block img {
    width: 60px;
    height: 50px;

}

.footer-title {
    color: rgb(19, 19, 24);
    font-size: 2rem;
    font-weight: 800;
}

.social-media-container {
    height: 24px;
    width: 175px;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}

.footer-horizontal-line {
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer-rights {
    text-align: center;
    padding-bottom: 350px;


}




/* --------Mobile Responsive---- */
@media screen and (max-width:600px) {

    header {
        display: grid;

    }

    nav {
        width: 380px;
        height: 64px;
        flex-direction: column;
        padding: 30px;
        max-width: 600px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;

    }



    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .banner {

        position: absolute;
        width: 335px;
        height: 483px;
        left: 20px;
        right: 20px;
        top: 108px;
        bottom: 6838px;
        margin-top: 150px;

    }

    .main-title {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 800;
    }

    .main-description {
        color: rgb(255, 255, 255);
        font-size: 0.5rem;
        font-weight: 400;
    }

    .banner-ingredients {

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;

    }


}