/* -----Google Mulish Font----- */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    pad: 0;
}

body {
    font-family: "Mulish", sans-serif;

}

main,
.popular-tour {
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 70px;
    gap: 150px;
}

/* -------Nav style----- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
    margin: 0 auto;
}

.heaven-travel,
.menu {
    display: flex;
    align-items: center;
}

h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.menu li {
    margin-right: 45px;
    list-style: none;
}

/* -----Banner Styles------ */
.banner-container {
    margin-left: 135px;
    margin-right: 135px
}

.banner {

    width: 100%;
    height: 500px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#131318CC #13131800);
    border-radius: 16px;
    text-align: center;


}

.banner-ingredients {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

}

.main-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;

}

.main-description {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}

.travel-selection {
    font-size: 1rem;
    font-weight: 400px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    text-align: center;
}

#red-btn {
    font-weight: 700px;
    color: #FFFFFF;
    background-color: rgb(255, 84, 0);
}

/* ------Popular tour section style------- */

.travel-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.popular-tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour-card {
    width: 577px;
    height: 466px;
    left: 135px;

}


.popular-tour-image {
    width: 540px;
    height: 550px;

}

/* ---------Destination style section----- */
.images {
    color: rgb(255, 255, 255);

    font-size: 1.75rem;
    font-weight: 800;

    text-align: center;
}
.first-row,.second-row,.third-row{
    
    max-width: 1440px;
    display: grid;
    gap: 20px;
   grid-template-areas: 1 2;
    justify-content: space-around;
    align-items: center;
    margin:20px;
}
.photo-container{
   
   background: rgb(255, 255, 255);


}






/* --------Mobile Responsive---- */
@media screen and (max-width:600px) {

    header {
        display: grid;

    }

    nav {
        width: 380px;
        height: 64px;
        flex-direction: column;
        padding: 30px;
        max-width: 600px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;

    }



    .menu,
    .popular-tour {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner {

        position: absolute;
        width: 335px;
        height: 483px;
        left: 20px;
        right: 20px;
        top: 108px;
        bottom: 6838px;
        margin-top: 150px;
    }

    .main-title {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 800;
    }

    .main-description {
        color: rgb(255, 255, 255);
        font-size: 0.5rem;
        font-weight: 400;
    }

    .banner-ingredients {

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;

    }


}